<div class="top-bar">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5 col-md-12">
        <div class="logo">
          <a href="javascript:void(0)">
            <h1>Wash On<span>Wheels</span></h1>
          </a>
        </div>
      </div>
      <div class="col-lg-7 col-md-7 d-none d-lg-block">
        <div class="row">
          <div class="col-6">
            <div class="top-bar-item">
              <div class="top-bar-icon">
                <i class="far fa-clock"></i>
              </div>
              <div class="top-bar-text">
                <h3>Opening Hour</h3>
                <p>9:00 Am - 1:00 Pm</p>
                <p>2:00 Pm - 7:00 Pm</p>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="top-bar-item">
              <div class="top-bar-icon">
                <i class="fa fa-phone-alt"></i>
              </div>
              <div class="top-bar-text">
                <h3>Call Us</h3>
                <p>+91 xxxx-xxx-xxx</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Nav Bar Start -->
<div class="nav-bar">
  <div class="container">
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
      <a href="javascript:void(0)" class="navbar-brand">MENU</a>
      <button
        type="button"
        class="navbar-toggler"
        data-toggle="collapse"
        data-target="#navbarCollapse"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div
        class="collapse navbar-collapse justify-content-between"
        id="navbarCollapse"
      >
        <div class="navbar-nav mr-auto">
          <!-- <a href="index.html" class="nav-item nav-link active">Home</a> -->
          <!-- <a href="about.html" class="nav-item nav-link">About</a>
          <a href="service.html" class="nav-item nav-link">Service</a>
          <a href="price.html" class="nav-item nav-link">Price</a>
          <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"
              >Pages</a
            >
            <div class="dropdown-menu">
              <a href="booking.html" class="dropdown-item">Schedule Booking</a>
            </div>
          </div>
          <a href="contact.html" class="nav-item nav-link">Contact</a> -->
        </div>
        <div class="ml-auto mr-2">
          <a class="btn btn-custom" target="_blank" href="https://docs.google.com/forms/d/1FUk6OyKdbXoi1HWF-vHYm4ILmIyL6a1O1dJjCRkTZN0/edit">Get Appointment For 2 Wheeler</a>
          <a class="btn btn-custom" target="_blank"  href="https://docs.google.com/forms/d/1ouN6cKRefjatpFFFbtUbfIaBhX3Cdf_FIA4ORoq7stY/edit">Get Appointment For 4 Wheeler</a>
        </div>
      </div>
    </nav>
  </div>
</div>
<!-- Nav Bar End -->
<carousel>
  <slide>
    <div class="carousel-img">
      <img
        src="../../assets/img/carousel-2.jpg"
        alt="second slide"
        style="display: block; width: 100%"
      />
    </div>
    <div class="carousel-caption d-none d-md-block">
      <div class="carousel-text">
        <h3>Washing & Polishing</h3>
        <h1>Keep your Car Always Look New</h1>
        <p>
          Revolutionizing the Way Your Car Sparkles – Experience the Future of
          Clean!
        </p>
      </div>
    </div>
  </slide>
</carousel>


        <!-- About Start -->
        <div class="about" id="about">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="about-img">
                            <img src="../../assets/img/carousel-1.jpg" alt="Image">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="section-header text-left">
                            <p>About Us</p>
                            <h2>Motorized vehicle washing and detailing</h2>
                        </div>
                        <div class="about-content">
                            <p>
                                At WoW, we're not just in the business of cleaning cars; we're in the business of transforming the way you experience car care. With a passion for perfection and a commitment to innovation,Our journey began with a simple idea: to provide car owners with a convenient, efficient way to keep their vehicles looking their absolute best. We've taken this vision and turned it into a reality, becoming a trusted name in the car washing industry..
                            </p>
                            <ul>
                                <li><i class="far fa-check-circle"></i>Snow Wash Exterior Care-Kit</li>
                                <li><i class="far fa-check-circle"></i>Snow Wash Exterior With Polish Care-Kit:</li>
                                <li><i class="far fa-check-circle"></i>Snow Wash Exterior  & Interior Care-Kit:</li>
                                <li><i class="far fa-check-circle"></i>Snow Wash Exterior &  Interior  With Polish Care-Kit:</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->

 <!-- Service Start -->
 <div class="service" id="service">
    <div class="container">
        <div class="section-header text-center">
            <p>What We Do?</p>
            <h2>Premium Washing Services</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <i class="flaticon-car-wash-1"></i>
                    <h3>Snow Wash Exterior Care-Kit</h3>
                    <p>
                        Foam exterior wash  .
                    </p>
                    <p>
                        Engine & Under-Body cleaning .
                    </p>
                    <p>
                        Glass Cleaning .
                    </p>
                    <p>
                        Tyre polishing .
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <i class="flaticon-car-service"></i>
                    <h3>Snow Wash Exterior With Polish Care-Kit:</h3>
                    <p>
                        Foam exterior wash &  premium polish .
                    </p>
                    <p>
                        Engine & Under-Body cleaning .
                    </p>
                    <p>
                        Glass Cleaning .
                    </p>
                    <p>
                        Tyre polishing .
                    </p>
                    <p>
                        Black exterior & Bumper polish.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <i class="flaticon-vacuum-cleaner"></i>
                    <h3>Snow Wash Exterior  & Interior Care-Kit:</h3>
                    <p>
                        Foam exterior wash.
                    </p>
                    <p>
                        Engine & Under-Body cleaning .
                    </p>
                    <p>
                        Mat Cleaning & Glass Cleaning .
                    </p>
                    <p>
                        Tyre polishing .
                    </p>
                    <p>
                        Interior Vacuum clean.
                    </p>
                    <p>
                       Dashboard Polish.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <i class="flaticon-brush"></i>
                    <h3>Snow Wash Care-Kit(2 Wheeler):</h3>
                    <p>
                        Foam wash.
                    </p>
                    <p>
                        Tyre polishing .
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->

        <!-- Footer Start -->
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-contact">
                            <h2>Get In Touch</h2>
                            <p><i class="fa fa-phone-alt"></i>+91-xxxx-xxx-xxx</p>
                            <p><i class="fa fa-envelope"></i>washonwheels0087@gmail.com</p>
                            <div class="footer-social">
                                <a class="btn" href="https://www.instagram.com/__wash_on_wheels__/"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-link">
                            <h2>Popular Links</h2>
                            <a href="#about">About Us</a>
                            <a href="#service">Our Service</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container copyright">
                <p><a href="javascript:void(0)">Wash On Wheels</a></p>
            </div>
        </div>
        <!-- Footer End -->

